.tweet-container article {
  border: 3px solid black;
  background-color: #f4f1ec;
  padding: 10px;
  margin-top: 80px;
}

.tweet-container article header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 300;
  padding: 10px;
  padding-top: 15px;
  margin-bottom: 40px;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-info img {
  width: 1.5rem;
}

.user-handle {
  font-weight: 400;
  color:#c9cbde
}

.tweet-body {
  font-weight: 400;
  padding-left: 10px;
  padding-right: 10px;
}

.tweet-container article footer {
  display: flex;
  justify-content:space-between;
  border-top: 3px solid black;
  font-size: 0.65rem;
  font-weight: 500;
  padding: 10px;
}

.social-media-icons {
  color: #4056A1;
  display: flex;
  gap: 6px;
}

/* Shadow around the box when hover on a tweet */
.tweet-container article:hover { 
  box-shadow: 5px 5px 0px 1px #A2A2A2;
}

.social-media-icons i:hover {
  color:sandybrown;
  cursor: pointer;
}